body{
    background-color: 	Khaki; /* Define a cor de fundo da página */
    display: flex;                 /* Ativa o Flexbox (organiza elementos dentro de um conteiner) para organizar os elementos */
    justify-content: center;       /* Centraliza os elementos horizontalmente */
    align-items: center;           /* Centraliza os elementos verticalmente */
    flex-direction: column;        /* Coloca os elementos um embaixo do outro */
    min-height: 100vh;             /* Faz a página ocupar 100% da altura da tela */
    margin: 0;                     /* Remove margens padrão do navegador */
    font-family: cursive; /* Define a fonte padrão do site */
    color: black;                  /* Define a cor do texto */
}
header{
    border-color: Goldenrod; /* Cor da borda */
    border-style: double;      /* Define borda com efeito dupla */
    border-width: 10px;        /* Espessura da borda */
    text-align: center;        /* Centraliza o texto dentro do header */
    width: 60%;                /* Ajusta a largura para 60% da tela */
    margin: 20px auto;         /* Centraliza o header horizontalmente */
    padding: 15px;             /* Espaçamento interno */
    background-color: khaki;   /* Cor de fundo interna (clara) */
}
main{
    border-color: Goldenrod; /* Cor da borda */
    border-style: double;      /* Estilo da borda (dupla) */
    border-width: 10px;        /* Grossura da borda */
    width: 60%;                /* Largura do conteúdo principal */
    margin: 20px auto;         /* Centraliza o main */
    padding: 15px;             /* Espaçamento interno */
    background-color: khaki;   /* Cor de fundo da área */
    text-align: justify;       /* Justifica o texto */
    font-family: cursive;      /* Define uma fonte cursiva */
}
video {
    display: block;     /* Faz o vídeo se comportar como bloco */
    margin: 0 auto;     /* Centraliza o vídeo horizontalmente */
}
*{
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍩</text></svg>") 16 16, auto;
}
/* 
*  -> aplica o cursor a todos os elementos da página.
cursor (propriedade) :url(...) -> define um cursor personalizado.
data:image/svg+xml -> insere um SVG diretamente no CSS sem arquivo externo.
width/height -> tamanho do cursor.
hotspot "16 0" -> ponto do cursor onde ocorre o clique.
auto -> fallback caso o navegador não aceite a imagem.
*/
